{{template "layout.tmpl" .}}

{{define "content"}}
    <main>
        <h1>Login</h1>

        <form action="/login" method="POST">
            <div>
                <label for="Email">Email</label>
                <input type="email" name="email" id="email" placeholder="aboba@biba.bob" required>
            </div>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="abibaboba" required>
            </div>

            <button>Login</button>
        </form>
    </main>
{{end}}